.html
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/login.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <title>StudyHub - Página Principal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Just+Another+Hand&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="pgina-principal">
        <div class="overlap-group">
            <div class="text-wrapper">
                <a href="login.html">StudyHub</a>
            </div>
            <div class="user-controls">
                <a href="login.html"><button class="register-btn">Iniciar Sesión</button></a>
                <a href="register.html"><button class="register-btn">Registrarse</button></a>
            </div>
        </div>

    <!-- Título principal -->
    <div class="text-wrapper-2">Doble autentificación</div>

    <div class="container">
        <div>
        <p class="other-methods-text">Introduce el código que te hemos enviado al correo:</p>
        <form action="index.html">
            <input type="text" placeholder="Código de verificación">
            <button type="submit">Verificar</button>
        </form>
        </div>
    </div>

    <!-- Footer -->
    <div class="overlap">
        <div class="click-connect">Click&Connect</div>
    </div>
</div>
</body>

</html>
