.html
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/login.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../styles/conversorNotification.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <title>StudyHub - Página Principal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Just+Another+Hand&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="pgina-principal">
        <div class="overlap-group">
            <div class="text-wrapper">
                <a href="login.html">StudyHub</a>
            </div>
            <div class="user-controls">
                <a href="login.html"><button class="register-btn">Iniciar Sesión</button></a>
                <a href="register.html"><button class="register-btn">Registrarse</button></a>
            </div>
        </div>

        <div class="message-container">
            <div class="message-box">
                <div class="message-header">
                    <h2>Mensaje de aviso:</h2>
                    <button onclick="window.location.href='login.html'" class="close-button">&times;</button>
                </div>
                <div class="message-body">
                    <p>Este dispositivo no es compatible con la huella dactilar.</p>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <div class="overlap">
            <div class="click-connect">Click&Connect</div>
        </div>
    </div>
</body>

</html>