<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/settings.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/daltonic.css" />
    <title>StudyHub - Ajustes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Just+Another+Hand&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="pgina-principal">
        <!-- Header navigation -->
        <div class="overlap-group">
            <div class="text-wrapper">
                <a href="index.html" style="text-decoration: none; color: inherit;"
                    title="Volver Página Principal">StudyHub</a>
            </div>
            <div class="user-controls">
                <a href="search.html"><img class="image-4" src="../images/search.png" alt="Icono lupa"
                        title="Buscar archivos" /></a>
                <a href="index.html"><img class="image-3" src="../images/home.png" alt="Icono casa"
                        title="Volver Página Principal" /></a>
                <a href="settings.html"><img class="image-2" src="../images/settings.png" alt="Icono ajustes"
                        title="Ajustes" /></a>
                <a href="notifications.html"><img class="image" src="../images/notifications.png" alt="Icono campana"
                        title="Notificaciones" /></a>
                <a href="profile.html"><img class="img" src="../images/user.png" alt="Icono perfil"
                        title="Perfil" /></a>
                <div class="username">
                    <h3 class="username_title"><a href="profile.html">hola123</h3></a>
                </div>
            </div>
        </div>

        <!-- Menú de navegación -->
        <div class="nav-menu">
            <div class="overlap-2">
                <a href="search.html" title="Buscar archivos">
                    <div class="text-wrapper-3">Búsqueda</div>
                </a>
            </div>
            <div class="div-wrapper">
                <a href="myDocs.html" title="Acceder a Mis Documentos">
                    <div class="text-wrapper-4">Mis Archivos</div>
                </a>
            </div>
            <div class="overlap-3">
                <a href="sharedDocs.html" title="Ver Documentos Compartidos">
                    <div class="text-wrapper-4">Compartidos</div>
                </a>
            </div>
        </div>

        <!-- Título principal -->
        <div class="text-wrapper-2" data-lang="settings">Ajustes</div>

        <!-- Configuraciones -->
        <div class="settings-container">
            <div class="settings-card">
                <div class="setting-item">
                    <div class="setting-label" data-lang="dark-mode">Modo oscuro</div>
                    <label class="switch">
                        <input type="checkbox" id="dark-mode-toggle">
                        <span class="slider"></span>
                    </label>
                </div>

                <div class="setting-item">
                    <div class="setting-label" data-lang="font_size">Tamaño de la letra</div>
                    <div class="setting-control">
                        <input type="number" min="1" max="100" value="35" class="number-input" id="font-size-input"
                            placeholder="35">
                    </div>
                </div>

                <div class="setting-item">
                    <div class="setting-label" data-lang="font-style">Estilo de letra</div>
                    <div class="setting-control">
                        <select id="font-style" name="font-style">
                            <option value="Arial">Arial</option>
                            <option value="Calibri">Calibri</option>
                            <option value="Courier New">Courier New</option>
                            <option value="Palatino Linotype">Palatino Linotype</option>
                            <option value="Just Another Hand" selected>Just Another Hand</option>
                        </select>
                    </div>
                </div>

                <div class="setting-item">
                    <div class="setting-label" data-lang="language">Idioma</div>
                    <div class="setting-control">
                        <select id="language" name="language">
                            <option class="es" value="es" value="Castellano">Castellano</option>
                            <option class="en" value="en" value="Inglés">Inglés</option>
                        </select>
                    </div>
                </div>

                <div class="setting-item">
                    <div class="setting-label" data-lang="voice_reading">Lectura e instrucciones por voz</div>
                    <label class="switch">
                        <input type="checkbox" id="voice-reading-toggle">
                        <span class="slider"></span>
                    </label>
                </div>

                <div class="setting-item">
                    <div class="setting-label" data-lang="color_blind_mode">Modo daltónico</div>
                    <label class="switch">
                        <input type="checkbox" id="daltonic-toggle">
                        <span class="slider"></span>
                    </label>
                </div>

                <div class="setting-item apply-changes">
                    <button class="changes-button" id="save-btn" data-lang="save">Guardar</button>
                </div>

                <div class="reset-container">
                    <button class="reset-button">Restablecer</button>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="overlap">
            <div class="click-connect">Click&Connect</div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="../js/idioma.js"></script>
    <script src="../js/tamaño_fuente.js"></script>
    <script src="../js/modo_oscuro.js"></script>
    <script src="../js/tipografía.js"></script>
    <script src="../js/daltonic.js"></script>
    <script src="../js/lectura_por_voz.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const changesButton = document.querySelector('.changes-button');

            changesButton.addEventListener('click', function () {
                this.classList.add('active');
                this.textContent = '¡Guardado!';

                setTimeout(() => {
                    this.classList.remove('active');
                    this.textContent = 'Guardar';
                }, 2000);
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const resetButton = document.querySelector('.reset-button');
            const saveButton = document.querySelector('.changes-button');

            resetButton.addEventListener('click', function () {
                // Cambiar el texto del botón a "Restablecido"
                this.classList.add('active');
                this.textContent = 'Restablecido';

                // Restablecer cookies
                document.cookie = "dark-mode=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
                document.cookie = "font-size=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
                document.cookie = "font-style=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
                document.cookie = "language=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
                document.cookie = "voice-reading=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
                document.cookie = "daltonic=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";

                // Restablecer valores por defecto
                document.getElementById('dark-mode-toggle').checked = false;
                document.getElementById('font-size-input').value = 35;
                document.getElementById('font-style').value = 'Just Another Hand';
                document.getElementById('language').value = 'es';
                document.getElementById('voice-reading-toggle').checked = false;
                document.getElementById('daltonic-toggle').checked = false;

                // Esperar 2 segundos y luego devolver el texto del botón a su estado original
                setTimeout(() => {
            this.classList.remove('active');
            this.textContent = 'Restablecer';

            // Simular el clic en el botón de guardar
            saveButton.click();
        });
            });
        });
    </script>




</body>

</html>