.html
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../styles/settings.css" />
    <title>StudyHub - Página Principal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Just+Another+Hand&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="pgina-principal">
        <!-- Barra superior -->
        <div class="overlap-group">
            <div class="text-wrapper">StudyHub</div>
            <div class="user-controls">
                <img class="image-4" src="../images/search.png" alt="Icono" />
                <img class="image-3" src="../images/list.png" alt="Icono" />
                <img class="image-2" src="../images/settings.png" alt="Icono" />
                <img class="image" src="../images/notifications.png" alt="Icono" />
                <img class="img" src="../images/user.png" alt="Icono" />
                <div class="username">
                    <h3 class="username_title">hola123</h3>
                </div>
            </div>
        </div>

        <!-- Menú de navegación -->
        <div class="nav-menu">
            <div class="overlap-2">
                <div class="text-wrapper-3">Búsqueda</div>
            </div>
            <div class="div-wrapper">
                <div class="text-wrapper-4">Mis Archivos</div>
            </div>
            <div class="overlap-3">
                <div class="text-wrapper-4">Compartidos</div>
            </div>
        </div>

        <!-- Título principal -->
        <div class="text-wrapper-2">Ajustes</div>

        <!-- Configuraciones -->
        <div class="container">
            <div class="dark-mode-setting">
                <p>Modo oscuro</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

            <div class="font-size-setting">
                <p>Tamaño de la letra</p>
                <input type="number" min="1" max="100" value="16">
            </div>

            <div class="font-size-setting">
                <p>Estilo de letra</p>
                <label for="opciones"></label>
                <select id="opciones" name="opciones">
                <option value="opcion1">Arial</option>
                <option value="opcion2">Calibri</option>
                <option value="opcion3">Courier New</option>
                <option value="opcion4">Palatino Linotype</option>
                </select>
            </div>

            <div class="decline-union-setting">
                <p>Rechazar solictudes de union</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

            <div class="automatic-narrator-setting">
                <p>Narrador automático</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="language-setting">
                <p>Idioma</p>
                <label for="opciones"></label>
                <select id="opciones" name="opciones">
                    <option value="opcion1">Castellano</option>
                    <option value="opcion2">Inglés</option>
                    
                </select>
            </div>
            <div class="voice-narrator-setting">
                <p>Lectura por voz narrador</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

            <div><button class="changes">Aplicar cambios</button></div>



         </div>


        <!-- Footer -->
        <div class="overlap">
            <div class="click-connect">Click&Connect</div>
        </div>
    </div>
</body>

</html>