/* Variables globales */
:root {
    --primary-color: #84b6f4;
    --primary-color-transparent: #84b6f4cc;
    --secondary-color: #ffffff;
    --border-color: #234269;
    --text-color: #000000;
    --border-radius: 15px;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
}

/* Estilos base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Just Another Hand", cursive;
}

body {
    line-height: 1.5;
}

.nav-menu {
    top: 75px;
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: var(--secondary-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Main Content */
/* Variables globales */
:root {
    --primary-color: #84b6f4;
    --primary-color-transparent: #84b6f4cc;
    --secondary-color: #ffffff;
    --border-color: #234269;
    --text-color: #000000;
    --border-radius: 15px;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
}

/* Estilos base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Just Another Hand", cursive;
}

body {
    line-height: 1.5;
}

.nav-menu {
    top: 75px;
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: var(--secondary-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Main Content */
.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 150px); /* Ajusta para excluir el header y footer */
    background-color: var(--secondary-color);
    padding: var(--spacing-md);
}

.message-body{
    background-color: whitesmoke;
    border-radius: 10px ;
}

.message-box {
    background-color: #84b6f4;
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.message-header h2 {
    font-size: 1.8rem;
    margin: 0;
    color: black;
}

.message-body p {
    font-size: 1.4rem;
    color: #000;
    margin: 0;
}

/* Footer */
.footer {
    width: 100%;
    padding: var(--spacing-md);
    background-color: var(--primary-color);
    border-top: 1px solid var(--border-color);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.copyright {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Media queries para responsividad */
@media (max-width: 1024px) {
    .content {
        padding-top: 140px;
    }

    .dropzone {
        height: 200px;
    }
}

@media (max-width: 768px) {
    .content {
        padding-top: 160px;
    }

    .title {
        font-size: 2.5rem;
    }

    .dropzone {
        height: 180px;
    }

    .dropzone p {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 2rem;
    }

    .file-item {
        flex-direction: column;
        border-radius: var(--border-radius);
        padding: var(--spacing-sm) 0;
        align-items: flex-start;
    }

    .file-name,
    .file-date,
    .file-conversion {
        width: 100%;
        border-right: none;
        padding: var(--spacing-sm) var(--spacing-lg);
    }

    .file-name {
        border-bottom: 1px solid var(--text-color);
    }

    .file-date {
        border-bottom: 1px solid var(--text-color);
        text-align: left;
    }
}

@media (max-width: 480px) {
    .content {
        padding-top: 180px;
    }

    .title {
        font-size: 2rem;
    }

    .dropzone {
        height: 150px;
    }

    .dropzone p {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .file-name,
    .file-date,
    .file-conversion {
        font-size: 1.2rem;
    }

    #convert-btn {
        font-size: 1.2rem;
        padding: 5px 15px;
    }

    .file-info p {
        font-size: 1.2rem;
    }
}

/* Media queries para responsividad */
@media (max-width: 1024px) {
    .content {
        padding-top: 140px;
    }

    .dropzone {
        height: 200px;
    }
}

@media (max-width: 768px) {
    .content {
        padding-top: 160px;
    }

    .title {
        font-size: 2.5rem;
    }

    .dropzone {
        height: 180px;
    }

    .dropzone p {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 2rem;
    }

    .file-item {
        flex-direction: column;
        border-radius: var(--border-radius);
        padding: var(--spacing-sm) 0;
        align-items: flex-start;
    }

    .file-name,
    .file-date,
    .file-conversion {
        width: 100%;
        border-right: none;
        padding: var(--spacing-sm) var(--spacing-lg);
    }

    .file-name {
        border-bottom: 1px solid var(--text-color);
    }

    .file-date {
        border-bottom: 1px solid var(--text-color);
        text-align: left;
    }
}

@media (max-width: 480px) {
    .content {
        padding-top: 180px;
    }

    .title {
        font-size: 2rem;
    }

    .dropzone {
        height: 150px;
    }

    .dropzone p {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .file-name,
    .file-date,
    .file-conversion {
        font-size: 1.2rem;
    }

    #convert-btn {
        font-size: 1.2rem;
        padding: 5px 15px;
    }

    .file-info p {
        font-size: 1.2rem;
    }
}